.App {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

h1 {
    margin-top: 0px;
}
#modal-root {
    position: relative;
    z-index: 999;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area {
    height: 200px;
    background-color: blue;
}